/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
}

a:not(.a-decorated) {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

/* COMMON */

:root{
    --header-height: 80px;
    --padding-hero-card: 40px;
}

.round-photo {
    border-radius: 50%;
    aspect-ratio: 1;

    /* debug */
    background-color: aqua;
}

section, footer {
    padding: 4rem 0;
}


/* Utilities */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.flex {
    display: flex;
}

.c-w{
    color: white;
}

.radius{
    border-radius: 30px;
}

.t-align-center {
    text-align: center;
}

.bg-w {
    background-color: white;
}

.bg-lb {
    background-color: rgb(181 221 255);
}

.bg-lv {
    background-color: rgb(151 146 228);
}

/* !HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(0 132 253);
    width: 100%;
}

header .container {
    justify-content: space-between;
    height: var(--header-height);
    line-height: var(--header-height);
}

.logo {
    padding: 20px;
}

.nav-bar {
    display: none;
}

.nav-bar ul {
    gap: 15px;
}

/* FOOTER MEDIA QUERY */

@media screen and (min-width: 992px) {
    .hamburger-menu {
        display: none;
    }
    .nav-bar {
        display: block;
    }
}

/* !MAIN */

/* *HERO-SECTION */

.hero-section {
    padding: calc(var(--header-height) + 30px)  0;
}

.hero-card {
    width: 100%;
    margin: 10px 0;
    padding: var(--padding-hero-card);
}

.hero-card h2 {

    /* debug */
    height: 30px;
    background-color: red;
}

.hero-card p {
    padding: 30px 0;
}

.blue-btn{
    display: inline-block;
    background-color: rgb(0 132 253);
    
    /* debug */
    width: 80%;
    min-height: 20px;
}

.p-relative {
    display: block;
    position: relative;
    top: var(--padding-hero-card);
}

.icon {
    padding-bottom: 20px;
}

.icon > i {
    font-size: 5rem;
}

.hero-section img {
    max-width: 15rem;
}

/* ?HERO SECTION MEDIA QUERY */

@media screen and (min-width: 768px) {
    .hero-section .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .hero-card:first-child {
        width: 66%;
    }

    .hero-card {
        width: 32%;
    }
}

@media screen and (min-width: 992px) {
    .hero-card:first-child{
        display: flex;
    }
}

/* *PLANNING SECTION */

.planning-section h2 {
    margin-top: 70px;

    /* debug */
    height: 30px;
    background-color: red;
}

.planning-section p {
    padding: 30px 0;
}

.planning-section .radius {
    padding: 20px;
}

/* ?MEDIA QUERY PLANNING */

@media screen and (min-width: 992px) {
    .planning-section .container {
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }

    #strategy h2 {
        margin-top: 150px;
    }

    #develop {
        height: fit-content;
    }

    #develop h2 {
        margin-top: 10px;
    }
}

/* *TESTIMONIAL */

.testimonial-section h2 {
    padding: 30px 0;
}

.testimonial-card {
    margin: 30px 0;
    padding: 30px;

    /* debug */
    min-height: 200px;
}

.testimonial-card .round-photo {
    width: 50%;
}

.testimonial-card .cit {
    background-color: blueviolet;
    padding: 20px 0;
}

.testimonial-card .cit blockquote {
    margin-bottom: 20px;
    /* debug */
    background-color: white;
    min-height: 30px;
}

.testimonial-card .cit h4 {
    /* debug */
    background-color: white;
    min-height: 30px;
}

/* ?TESTIMONIAL MEDIA QUERY */

@media screen and (min-width: 768px) {
    .testimonial-card {
        display: flex;
    }

    .testimonial-card .round-photo {
        width: 20%;
    }

    .testimonial-card .cit {
        flex-grow: 1;
    }
}

/* *BENEFITS */

.container .benefit-card {
    padding: 30px;
    margin: 30px 0;

    /* debug */
    min-height: 400px;
}

/* ?BENEFITS MEDIA QUERY */

@media screen and (min-width: 768px) {
    .benefits-section .benefit-cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-section .benefit-card {
        width: 48%;
    } 
}

@media screen and (min-width: 992px) {
    .benefits-section .benefit-cols {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits-section .benefit-card {
        width: 30%;
    } 
}

/* *ABOUT US */

.about-us .round-photo {
    width: 50%;
}

/* ?ABOUT US MEDIA QUERY */

@media screen and (min-width: 768px) {
    .about-us .container {
        display: flex;
    }
}

/* *GET STARTED */

/* ?GET STARTED MEDIA QUERY */

@media screen and (min-width: 768px) {
    .cta .container {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    .cta .container {
        width: 40%;
    }
}

/* !FOOTER */

footer{
    background-color: rgb(51 51 51);
}

/* ?FOOTER MEDIA QUERY */

@media screen and (min-width: 768px) {
    footer .container {
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    footer .container {
        width: 40%;
    }
}
